html,
			body {
				position: relative;
				height: 100%;
			}
			
			body {
				background: #eee;
				font-size: 14px;
				color: #000;
				margin: 0;
				padding: 0;
				font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
				font-size: 26px;
				color: rgb(221, 13, 91);
				margin: 0px;
			}
			
			.zore{
				margin: 20px auto;
				text-align: center;
			}
			.zore1{
				margin: 0 auto;
				text-align: center;
			}
			.zore1 p{
				margin: 0px;
				height: 10px;
			}
			.zore1 img{
				
				width: 30px;
				height: 10px;
			}
			.zeroImg img{
			width: 130px;
			height: 130px;
			/*border-radius: 50%;*/
		}
		.zeroImg {
			margin-top: 20px;
			position: relative;
			height: 400px;
		}
		.zeroImg img:nth-child(1){
			position: absolute;
			top: 10px;
			left: 20px;
			/*transform:rotate(45deg)*/
		}
		.zeroImg img:nth-child(2){
			position: absolute;
			top: 111px;
			left: 100px;
			/*transform:rotate(20deg)*/
		}
		.zeroImg img:nth-child(3){
			position: absolute;
			top: 255px;
			left: 60px;
		}
		.zeroImg img:nth-child(4){
			position: absolute;
			top: 186px;
			left: 234px;
		}
		.zeroImg img:nth-child(5){
			position: absolute;
			top: 6px;
			left: 234px;
			
		}
		.zeroWords{
			margin-top: 20px;
			text-align: center;
			text-shadow:0 0 10px #0CC;  
		}
			.clearfix:after {
				content: '';
				clear: both;
				display: table;
				visibility: hidden;
				height: 0;
				width: 100%;
			}
			
			.swiper-container {
				width: 100%;
				height: 100%;
			}
			
			.bg {
				background: url(../img/bg.jpg);
				background-size: 100% 100%;
			}
			
			.title {
				font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
				font-size: 26px;
				color: rgb(221, 13, 91);
				/*text-shadow: 0 0 2px currentColor, 0 -1px 1px hsl(40,100%,80%), -1px -1px 1px hsl(10,100%,40%), 1px -1px 1px hsl(10,100%,40%), 1px 0 1px hsl(10,100%,40%), 0 -1px 1px hsl(10,100%,40%), 0 1px 1px hsl(10,100%,20%), 1px 1px 1px hsl(10,100%,40%), -1px 1px 1px hsl(10,100%,40%), -2px -2px 1px hsl(10,100%,20%), -1px -2px 1px hsl(10,100%,20%), 0 -2px 1px hsl(10,100%,20%), 1px -2px 1px hsl(10,100%,20%), 2px -2px 1px hsl(10,100%,20%), 2px -1px 1px hsl(10,100%,20%), 2px 0 1px hsl(10,100%,20%), 2px 1px 1px hsl(10,100%,20%), 2px 2px 1px hsl(10,100%,20%), 1px 2px 1px hsl(10,100%,20%), 0 2px 3px hsl(10,100%,20%), -1px 2px 1px hsl(10,100%,20%), -2px 2px 1px hsl(10,100%,20%), -2px 1px 1px hsl(10,100%,20%), -2px 0 1px hsl(10,100%,20%), -2px -1px 1px hsl(10,100%,20%);*/
			}
			
			.title {
				margin-top: 100px;
				text-align: center;
			}
			
			.title span {
				display: inline-block;
				padding: 10px;
			}
			
			.box1_main {
				width: 330px;
				margin: 10px auto 0px;
			}
			
			.bao,
			.bao img {
				width: 167px;
				height: 167px;
			}
			
			.heart,
			.heart img {
				width: 156px;
				height: 156px;
			}
			
			.bao,
			.heart {
				float: left;
			}
			
			.bao {
				width: 147px;
				
			}
			
			.heart {
				
				font-size: 30px;
				color: white;
				position: relative;
			}
			
			.baoName {
				font-size: 30px;
				color: white;
				font-weight: 500;
				position: absolute;
				top: 60px;
				left: 38px;
			}
			
			.mySay {
				color: red;
				font-size: 20px;
				text-align: center;
				height: 50px;
				line-height: 50px;
				/*display: inline-block;*/
				padding: 10px;
			}
			
			.two {
				font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
				font-size: 26px;
				color: rgb(221, 13, 91);
				margin: 0px;
			}
			
			.two_img {
				margin: 100px;
				margin-bottom: 50px;
			}
			
			.two_img img {
				width: 169px;
				height: 220px;
			}
			
			.two .words {
				text-align: center;
				margin: 10px;
			}
			

		.three p{
			text-align: center;
			font-size: 18px;
			padding: 0px 10px;
			text-shadow:0 0 10px #0CC;  
		}
		.three .Bimg{
			
		}
		.three .Bimg img{
			width: 130px;
			height: 130px;
			border-radius: 50%;
		}
		
		.three .Bimg1{
			position: absolute;
			top: 10px;
			left: 20px;
			
		}
		.three .Bimg2{
			position: absolute;
			top: 10px;
			left: 200px;
			
		}
		
.four p{
			text-align: center;
			text-shadow:0 0 10px #0CC;  
		}
		.four p img{
			width: 217px;
			height: 200px;
		}
		
		.five p{
			text-align: center;
			font-size: 20px;
			padding: 0 20px;
			text-shadow:0 0 10px #0CC; 
		}
		.five img{
			width: 250px;
			height: 200px;
		}